<%- contentFor('hero') %>
<section class="hero">
		<div class="hero-content">
		<h2>Welcome to the about page!</h2>
		<p>Learn about our organization here</p>

		<a href="/contact" class="btn btn-lg btn-primary">Contact Us</a>
		</div>
	</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	Home Page
</div>